.bar {
    /*width: 20%;*/
    /*height: 40%;*/
    /*background: rgb(71,71,71);*/
    /*background: linear-gradient(90deg, rgba(71,71,71,1) 0%, rgba(112,112,112,1) 100%);*/
    justify-self: start;
    align-self: center;
    border-radius: 0 5px 5px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}


.price {
    position: absolute;
    min-width: 70px;
    right: -40px;
    top: 50%;
    transform: translate(40px, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: white;
    padding: 6px 8px;
    border-radius: 3px;
    font-weight: lighter;
}

@media screen and (max-width: 950px) {
    .bar {
        align-self: end;
        border-radius: 5px 5px 0 0;
        justify-self: center;
    }

    .price {
        right: 50%;
        top: -35px;
        transform: translate(50%, 0);
    }
}

@media screen and (max-width: 650px) {



}