.companyItem {
    display: grid;
    grid-template-columns: 1fr 35px;
    grid-auto-rows: minmax(30px, 40px);
    grid-column-gap: 10px;
    grid-row-gap: 6px;
    justify-items: end;
    align-items: center;
    align-content: center;
}

.companyItemForOption {
    align-content: end !important;
}


.companyIcon {
    width: 100%;
}

.companyItemOptions {
    grid-column: 1 / 3;
    justify-self: center;
    margin-left: 10px;
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.companyItemOptions > label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.companyItemOptions > label > input {
    width: 12px;
}

@media screen and (max-width: 950px) {
    .companyItem {
        grid-template-columns: 1fr 30px;
        grid-template-rows: 34px 18px;
        grid-row-gap: 0;
    }

    .companyItemForOption {
        align-content: center !important;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 650px) {
    .companyItem {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(18px, 35px);
        grid-row-gap: 4px;
        font-size: 20px;
        grid-column-gap: 5px;
        justify-items: center;
        align-items: center;
        align-content: start;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .companyIcon {
        width: auto;
        height: 35px;
        grid-row: 1 / 2;
    }

    .companyItemOptions {
        margin: 0;
        grid-column: 1 / 2;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        grid-row-gap: 4px;
        justify-self: stretch;
    }

    .companyItemOptions > label {
        width: 100%;
        gap: 2px;
        justify-content: space-between;
    }

    .companyItemForOption {
        justify-content: center;
        grid-auto-rows: minmax(17px, 30px);
    }

}

@media screen and (max-width: 400px) {
    .companyItem {
        font-size: 16px;
    }

    .companyItemOptions {
        font-size: 15px;
        font-weight: lighter;
    }
}
